@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 21px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.pt-88 {
    padding-top: 88.49px;
}

.navbar {
    padding-top: 50px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menulist {
    display: flex;
    gap: 40px;
}

.corner-btn {
    display: flex;
    gap: 30px;
    align-items: center;
}

.sign-in {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    color: #0B132A;
}

.sign-up {
    border: 2px solid #F53855;
    border-radius: 50px;
    padding: 10px 35px;
    background-color: white;
    color: #F53855;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    text-align: left;
    transition: 0.4s;
}

.sign-up:hover {

    color: white;
    cursor: pointer;
    background-color: #F53838;
}

.nav-btn {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    color: #4F5665;
}

.nav-btn {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F53838;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}



.nav-btn:hover::after {
    visibility: visible;
    transform: scaleX(1);
}


/* ----------------------------------------------------- */
.want-txt {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    max-width: 555px;
    margin-top: 120px;
}

.VPN-txt {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}

.pro-text {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    max-width: 555px;
    padding-top: 20px;
}

.lasles-txt {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.get-btn {
    background-color: #F53838;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 17px 70px;
    margin-top: 50px;
    /* --------- */
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.get-btn:hover {
    background-color: white;
    color: #F53838;
    box-shadow: 5px 5px 10px rgba(173, 34, 34, 0.5);
}

/* ------------------ */
.main-box {
    display: flex;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 90px;
}

.info-box {
    padding: 37px 90px;
}


.info-txt-1 {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.info-txt-2 {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.last-border {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.last-border-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.lf-border {
    border-right: 2px solid #EEEFF2;
}

.py-37 {
    padding: 37px;
}

/* ------------------ */
.we-txt {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    max-width: 383px;
}

.you-txt {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    max-width: 431px;
    color: #4F5665;
    margin-top: 31px;
}

.power-txt {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
}

.power-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ------------------ */
.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.gap-10 {
    gap: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-50 {
    margin-top: 50px;
}

.space-btw {
    justify-content: space-between;
}

.pb-143 {
    padding-bottom: 143px;
}

.pt-80 {
    padding-top: 80px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-155 {
    margin-top: 155px;
}

/* ---------------------- */
.plan-txt {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.let-txt {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    max-width: 555px;
    padding-top: 20px;
}

.box-shadow-1 {
    box-shadow: 0px 7px 7px -3px rgba(0, 0, 0, 0.1);
}

.free-txt {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 30px;
    text-align: center;
}

.check-box {
    margin-top: 30px;
}

.limited-txt {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}



.sec-3-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    height: 740px;
    justify-content: space-between;
    transition: 0.3s;
}

.sec-3-box:hover {
    border: 2px solid #F53838;
}

.free-1-txt {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.select-btn {
    color: #F53838;
    border: 2px solid;
    padding: 13px 62px;
    border-radius: 50px;
    background-color: white;
    /*  */
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.96px;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 20px;
    margin-bottom: 50px;
}

.select-btn:hover {
    color: white;
    background-color: #F53838;
}

.spn-txt {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.global-txt {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    width: 383px;
    margin-top: 150px;
}

.every-txt {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    max-width: 555px;
    color: #4F5665;
    margin-top: 20px;
}

.col-2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.ales-txt {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.huge-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-txt {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    width: 447px;
    margin-top: 57px;
}

.feature-txt {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    width: 555px;
    margin-top: 20px;
    color: #4F5665;
}

/* --------------slider */
.pf-head {
    gap: 108px;

}

.justify-btw {
    justify-content: space-between;
}

.gap-20 {
    gap: 20px;
}


.slick-box-heading {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-wrap: nowrap;
}

.slick-box-address {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
}

.svg-no {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.slick-para-3 {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    max-width: 340px;
    padding-top: 10px;
}


/* ------------------------- */
.sign-in {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.sign-in::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F53838;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.sign-in:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* ---------------------- */
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sec-5-heading {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    max-width: 447.81px;
}

.sec-5-para {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    max-width: 555px;
}

.overflow-hidden {
    overflow: hidden;
}

.box {
    border: 2px solid #DDDDDD;
    min-width: 200px !important;
    min-height: 300px;
    padding: 10px;
    border-radius: 10px;
}

.box:hover {
    border: 2px solid #F53838;
    cursor: pointer;
}

.justify-content-space-btw {
    justify-content: space-between;
}

.flex-direction-col-unset {
    flex-direction: column;
}


.justify-content-center {
    justify-content: center;
}

.gap-15 {
    gap: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-105 {
    padding-left: 105px;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.prev {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #F53838;
    background: white;
    cursor: pointer;
    transition: all 200ms linear;
}

.next {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #F53838;
    background: white;
    cursor: pointer;
    transition: all 200ms linear;
}

.next:hover {
    background-color: #F53838;

}

.next:hover path {
    fill: white;
}

.prev:hover {
    background-color: #F53838;

}

.prev:hover path {
    fill: white;
}


.slick-dots li {
    background-color: #DDE0E4;
    border-radius: 50%;
}

.slick-dots .slick-active {
    width: 45px;
    background-color: #F53838;
    border-radius: 10px;
}

.slick-dots {
    display: flex;
    margin-top: 10px;
    bottom: -70px;
    width: 50%;
}

.head-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slick-dots li button:before {
    opacity: 0 !important;
}

.slick-track {
    display: flex !important;
    gap: 50px !important;
}

.slick-dots li {
    transition: 0.3s !important;
}

.slick-dots {
    right: 43% !important;
    bottom: -19% !important;
}

.subscribe {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    max-width: 371px;
    color: #0B132A;
}

.subscribe-para {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
}

.over-slider {
    z-index: 2;
}

.slick-list {
    overflow: visible;
    padding: 0 20% 0 0;
    position: relative;
}

.slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: white;
}

.subscribe-btn {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    padding: 17px 65px;
    background-color: #F53838;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(173, 34, 34, 0.5);
    transition: 0.4s;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: white;
    color: #F53838;
}

.mt-57 {
    margin-top: 57px;
}

.gap-150 {
    gap: 150px;
}

.section-6 {
    background: linear-gradient(0deg, rgba(247, 247, 247, 1) 50%, rgba(255, 255, 255, 1) 50%);
}

.sub-box {
    padding: 70px 58px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    background-color: white;
}

.last-lastxt {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.7px;
    text-align: left;
    color: #0B132A;
}

.spn-txt-vpn {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.7px;
    text-align: left;
    color: #0B132A;
}

.pt-69 {
    padding-top: 69px;
}

.footer-bg {
    background: #F8F8F8;
}

.last-para {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
    max-width: 340px;
    padding-top: 20px;
}

.spn-txt-vpn-2 {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
}

.pt-30 {
    padding-top: 30px;
}

.copyright-txt {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #AFB5C0;
}

.copyright-vpn-txt {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #AFB5C0;
}

.footer-link-1 {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #0B132A;
}

.footer-link-2 {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
    width: max-content;
}

.d-none {
    display: none;
}

.flex-wrap {
    flex-wrap: wrap;
}

.pb-40 {
    padding-bottom: 40px;
}

.mt-25 {
    margin-top: 25px;
}
.scale-svg{
    
}
@media (max-width:1200px) {
    .nav-menu {
        width: 40px;
        height: 34px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        right: 0%;
        /* transform: translateY(-50%); */
        /* top: 50%; */
        z-index: 4;
    }

    .nav-menu span {
        height: 7px;
        width: 100%;
        background-color: black !important;
        border-radius: 3px;
    }

    .navbar-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        left: -100%;
        position: fixed;
        background: white;
        z-index: 3;
        transition: all 300ms linear;
        top: 0;
    }

    .show {
        left: 0;
    }

    .menulist {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .corner-btn {
        display: flex;
        flex-direction: column;
    }

    .gap-150 {
        gap: 50px;
    }

    .txt-center {
        text-align: center;
    }

    .overflow-image {
        width: 100%;
    }

    .pl-85 {
        padding-left: 85px;
    }
}


@media (min-width:992px) {
    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-2 {
        width: 16.66%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width:992px) {
    .md-col-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .pl-35 {
        padding-left: 35px;
    }

    .pl-17 {
        padding-left: 17px;
    }

    .lf-border {
        border: none;
    }

    .md-col-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mt-24 {
        margin-top: 24px;
    }
}

@media (max-width:576px) {
    .sm-col-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .want-txt {
        font-size: 33px;
    }

    .pro-text {
        font-size: 13px;
    }
}